<!DOCTYPE html>
<html>
<head>
<title>Doctors</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
<h1>🩺 Autism Specialists (Pune)</h1>
</header>

<div class="container">
<div class="card">

<table border="1" width="100%" cellpadding="10">
<tr>
<th>Doctor</th>
<th>Specialization</th>
<th>Consultation</th>
</tr>
<tr>
<td>Dr. Sumedh Joshi</td>
<td>Child Psychologist</td>
<td>In-person / Video</td>
</tr>
<tr>
<td>Dr. Vivek Pandey</td>
<td>Developmental Pediatrician</td>
<td>In-person</td>
</tr>
</table>

<p>
(Doctor information is for awareness purposes only.)
</p>

</div>
</div>

<footer>
Consult professionals for proper guidance
</footer>

</body>
</html>
