body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f2f7fb;
    color: #333;
}

header {
    background: linear-gradient(to right, #4a90e2, #6ec6ff);
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #357abd;
}

h2 {
    color: #4a90e2;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #eaf2f8;
    margin-top: 30px;
    font-size: 14px;
}
.bg-gradient {
    background: linear-gradient(120deg, #e0f2ff, #f7fbff);
    min-height: 100vh;
}

.question-box {
    background: #f9fcff;
    padding: 15px;
    border-radius: 12px;
    border-left: 5px solid #0d6efd;
}

.option-card {
    border: 2px solid #dee2e6;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}

.option-card input {
    display: none;
}

.option-card span {
    font-weight: 500;
}

.option-card:hover {
    background: #e7f1ff;
    border-color: #0d6efd;
}

.option-card input:checked + span {
    color: white;
    background: #0d6efd;
    padding: 10px 18px;
    border-radius: 25px;
}
.hero-section {
    margin-top: 120px;
    padding: 60px 0;
}

.section-card {
    background: white;
    margin-top: 60px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.icon-big {
    font-size: 50px;
    color: #0d6efd;
}

.team-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #0d6efd;
}
